body {
  font-family: sans-serif;
  padding: 20px;
  text-align: center;
}
@media print {
  body * {
    visibility: hidden;
  }
  #calendar, #calendar * {
    visibility: visible;
  }
  #calendar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
